.navbar{
  
    margin-top: 19px;
}
.navigation{  font-size: 15px;
    padding: 0px 9px;

}
.text h1 {
    font-size: 25px;
    padding: 0px 15px;
    margin-left: 148px;
}
.title {
    margin: 0px;
    padding: 17px;
}
.para {
    width: 294px;
    font-size: 15px;    margin-left: 177px;
}
.main{
    width: 141%;
}


header {
    display: flex;
        position: fixed;}
      
        #box1::after {  width: 20%;
          }
      
          #box2::after {
            width: 20%;
          }
          #box3::after {
            width: 20%;
          }
          #box4::after {width: 20%;
          }  

          #box1::after {
            content: "";
            background: url("images/background/spiderman.jpg") no-repeat center
              center/cover;
            position: absolute;
            width: 30%;

            height: 53%;
            z-index: -1;
            opacity: 0.5;
            height: 313px;
            border-radius: 8px;
            color: white;
            transition-property: all;
            transition-duration: 1s;
            transition: ease-out;
          }
          .spiderman:hover,.ironman:hover,.thor:hover,.doc:hover {
            color: rgb(255, 255, 255);
            text-shadow: 4px 4px 5px rgb(157, 157, 157);
          }
          #box2::after {
            content: "";
            background: url("images/background/ironman.jpg") no-repeat center center/cover;
            position: absolute;
            width: 30%;

            height: 53%;
            z-index: -1;
            opacity: 0.5;
            height: 313px;
            border-radius: 8px;
            color: white;
          }
          #box3::after {
            content: "";
            background: url("images/background/thor.jpg") no-repeat center center/cover;
            position: absolute;
            width: 30%;

            height: 53%;
            z-index: -1;
            opacity: 0.5;
            height: 313px;
            border-radius: 8px;
            color: white;
          }
          #box4::after {
            content: "";
            background: url("images/background/doctor\ strange.jpg") no-repeat center
              center/cover;
            position: absolute;
            width: 30%;

            height: 53%;
            z-index: -1;
            opacity: 0.5;
            height: 313px;
            border-radius: 8px;
            color: white;
          }


          .box {
            width: 30%;
            height: 313px;
            /* border: 2px solid red; */
            margin: 19px 9px;
            box-shadow: 0.1px 0.1px 5px 1px #bfbebe;
            display: flex;
            align-items: center;
            justify-content: center;
            object-fit: cover;
            border-radius: 8px;
            color: white;
            background-color: black;
            opacity: 0.9;
          }